<button
   (click)="onClick()"
   aria-label="Menu"
   class="w-8 h-8 focus:outline-none relative z-50 cursor-pointer flex items-center justify-center"
>
   <span
      class="absolute left-0 block h-0.5 rounded-full w-full bg-white transform transition-all duration-300 ease-in-out"
      [ngClass]="{
         'top-1/2 -translate-y-1/2 rotate-45': isOpen,
         'top-2 rotate-0': !isOpen,
      }"
   ></span>

   <span
      class="absolute left-0 top-1/2 -translate-y-1/2 block h-0.5 rounded-full w-full bg-white transform transition-opacity duration-300"
      [ngClass]="{
         'opacity-0': isOpen,
         'opacity-100': !isOpen,
      }"
   ></span>

   <span
      class="absolute left-0 block h-0.5 rounded-full w-full bg-white transform transition-all duration-300 ease-in-out"
      [ngClass]="{
         'top-1/2 -translate-y-1/2 -rotate-45': isOpen,
         'bottom-2 rotate-0': !isOpen,
      }"
   ></span>
</button>
