<app-header (navigateToProducts)="scrollToProductsSection()"></app-header>

<div class="w-full flex flex-col overflow-x-hidden">
   <section class="py-12 md:py-20 bg-white">
      <div class="container mx-auto px-4 max-w-7xl">
         @if (categoriesState$ | async; as catState) {
            @if (!catState.loading && !catState.error) {
               <div class="text-center mb-10 md:mb-14 animate-fade-in">
                  <h2
                     class="text-xl font-normal md:text-2xl md:font-bold text-primary mb-3"
                  >
                     Explore por Categorias
                  </h2>
                  <div
                     class="h-1 w-20 bg-orange-base mx-auto rounded-full"
                  ></div>
               </div>
               <div
                  class="flex flex-wrap justify-center items-stretch gap-4 md:gap-8 animate-fade-in-up"
               >
                  @for (category of catState.categories; track category.label) {
                     <app-category-card
                        [image]="category.image"
                        [alt]="category.alt"
                        [label]="category.label"
                        [link]="category.link"
                        class="h-auto"
                     ></app-category-card>
                  }
               </div>
            }
         }
      </div>
   </section>

   @if (featuredState$ | async; as state) {
      <app-product-section
         id="products"
         sectionId="featured-products"
         title="Produtos em Destaque"
         subtitle="Seleção Especial"
         viewAllLink="/shop"
         [products]="state.products.data"
         [loading]="state.loading"
         [loadingMore]="state.loadingMore"
         loadingMessage="Buscando as melhores ofertas..."
         [error]="state.error"
         [errorMessage]="state.errorMessage"
         [hasMorePages]="
            state.products.pagination.page <
            state.products.pagination.totalPages - 1
         "
         (loadMore)="loadMoreFeatured()"
      ></app-product-section>
   }

   @if (topRatedState$ | async; as state) {
      <app-product-section
         sectionId="top-rated"
         title="Melhores Avaliados"
         subtitle="Favoritos dos Clientes"
         [products]="state.products.data"
         [loading]="state.loading"
         [loadingMore]="state.loadingMore"
         loadingMessage="Carregando os campeões de vendas..."
         [error]="state.error"
         [errorMessage]="state.errorMessage"
         [hasMorePages]="
            state.products.pagination.page <
            state.products.pagination.totalPages - 1
         "
         (loadMore)="loadMoreTopRated()"
      ></app-product-section>
   }
</div>
